<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--  links   -->
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="mainstylesheet.css">
    
</head>
<body>
    <div id="app">
    <header>
    <a href="#"><img src="/source/logo/final-logo.png" alt="Logo" id="logoMain"></a>
        <ul class="nav-ul">
            <li>
                <a class="navStyle" @click="filmsView">Peliculas</a>
            </li>
            <li>
                <a class="navStyle" @click="directorView">Directores</a>
            </li>
            <a href="login.html"><button id="logBttn" onclick="">Iniciar sesión</button></a>
        </ul>  
        <img id="ToggleBttn" src="source/icons/hamburger.svg" @click="ToggleNav"alt="">  
    </header>  

    <div class="home">
        <div class="mainPresentation">
            <h1 id="textMain">Lorem ipsum dolor sit <br>
                amet, consectetur.  
             </h1>
            <h5 id="textSecond">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. </h5>
            <button id="registerBttn">Crea una cuenta</button>
            
        </div>
        <div class="searchContainer">
            <div class="searchBox">
            <input type="search" name="" id="mainSearcher" placeholder="   Buscar...">
            <button id="searchBttn">Buscar</button>
            </div> 
        </div>

        <div class="mainboxContainer">
            
            <div v-if="peliculas" class="filtersBox">
                <ul id="filtersText">
                    Generos:
                    <li v-for="genero in generosPeliculas" class="filterItem" tabindex="1" >{{ genero }}</li>

                </ul> 
            </div>
            <div v-if="peliculas" class="datalistContainer">
                
                <div v-for="pelicula in Listpeliculas" class="objectExample">
                    <div class="imageObject">
                        <img v-bind:src="pelicula.image" style="width: 100%;height: 100%;border-radius: 5px;"> 
                    </div>
                    <div class="dataContainer">
                        <div class="titleObject">{{ pelicula.Nombre}} ({{ pelicula.Año  }})</div>
                        <div class="durationObject">{{ pelicula.Duracion }} · {{ pelicula.Erate}} </div>
                        <div class="sinopsisObject"> {{ pelicula.Info }}</div>
                        <div class="analiticsObject">Likes: {{pelicula.Likes}}  Comentarios: {{ pelicula.Comentarios }}</div>
                    </div>
                </div>
               
                </div>

                <div v-if="directores" class="datadirectorContainer">
                    <div class="objectDirector">
                        <img src="" alt="">
                        <p></p>
                    </div>
                    <div class="objectDirector">
                        <img src="" alt="">
                        <p></p>
                    </div>
                </div>
              
                
            </div>
        </div>
        <div class="btnsListnav"><button class="pagBttn" id="anteriorBttn">Anterior</button><button id="siguienteBttn">Siguiente</button></div>
        <footer></footer>

    </div>

    </div>
    <!-- JS LINK -->
    <script src="vue.js"></script>

    <!-- APP Montaje -->
    <script>
        const mountedApp = app.mount('#app')
    </script>

</body>
