<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--  links   -->
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="mainstylesheet.css">
    
</head>
<body>
    <div id="app">
    <header>
    <a href="#"><img src="/source/logo/final-logo.png" alt="Logo" id="logoMain"></a>
        <ul class="nav-ul">
            <li>
                <a class="navStyle" @click="filmsView">Peliculas</a>
            </li>
            <li>
                <a class="navStyle" @click="directorView">Directores</a>
            </li>
            <button id="logBttn" onclick="" data-bs-toggle="modal" data-bs-target="#exampleModal">Iniciar sesión</button>
        </ul>  
        <img id="ToggleBttn" src="source/icons/hamburger.svg" @click="ToggleNav"alt="">  
    </header>  

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content bg-dark text-white shadow-1-strong">
            <div class="modal-header border-0">
              <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesion</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body  border-0 ">
              <label for="text" class="form-label">Usuario</label>
              <input type="text" class="form-control" name="" id="">
              <br>
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control">
            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Iniciar Sesion</button>
            </div>
          </div>
        </div>
      </div>






    <div class="home">
        <div class="mainPresentation">
            <h1 id="textMain">El catálogo de peliculas <br>
                más usado.  
             </h1>
            <h5 id="textSecond">Únete a la mejor comunidad <br>sobre peliculas del mundo. </h5>
            <button id="registerBttn">Crea una cuenta</button>
            
        </div>
        <div class="searchContainer">
            <div v-if="login" class="searchBox">
            <input type="search" name="" id="mainSearcher" placeholder="   Buscar...">
            <button id="searchBttn">Buscar</button>
            </div> 
        </div>



        <div class="mainboxContainer">
            <!--  MODO PELICULAS    -->
            <div v-if="peliculas" class="filtersBox">
               
                   
                 
                <ul id="filtersText">
                    Generos:
                    <li v-for="genero in generosPeliculas" class="filterItem" tabindex="1" >{{ genero }}</li>

                </ul> 
                
            </div>
            <div v-if="peliculas" class="datalistContainer">
            
                <div v-for="pelicula in Listpeliculas" class="objectExample">
                    <div class="imageObject">
                     
                        
                        <img v-bind:src="pelicula.image" style="width: 100%;height: 100%;border-radius: 5px;"> 
                    
                    </div>
                    <div class="dataContainer">
                        <a href="film.html">
                        <div class="titleObject">{{ pelicula.Nombre }} ({{ pelicula.Año  }})</div>
                        <div class="durationObject">{{ pelicula.Duracion }} · {{ pelicula.Erate}} </div>
                        <div class="sinopsisObject"> {{ pelicula.Info }}</div>
                        <div class="analiticsObject">Likes: {{pelicula.Likes}}  Comentarios: {{ pelicula.Comentarios }}</div>
                      </a>
                      </div>
                </div>
            
              </div>

            <!--  MODO DIRECTORES    -->
                <div v-if="directores" class="datadirectorContainer">
                    <div class="objectDirector">
                        <img src="" alt="">
                        <p>Polanski</p>
                    </div>
                    <div class="objectDirector">
                        <img src="" alt="">
                        <p></p>
                    </div>
                </div>
              
        </div>
        <div class="btnsListnav"><button class="pagBttn" id="anteriorBttn">Anterior</button><button id="siguienteBttn">Siguiente</button></div>
        <footer></footer>

    </div>

    </div>
    <!-- JS LINK -->
    <script src="vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- APP Montaje -->
    <script>
        const mountedApp = app.mount('#app')
    </script>

</body>
