@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    
}

.btn-primary{background-color: #23C686 !important;
    border-color: #f8f8f8}
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem #23C686
}
.btn-primary:hover {
    
    border-color: #1D3B41
}
header
{   
    background-color: #1D3B41;
    height: 84px;
    width: 100%;
    min-height: 2rem;
    max-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
}
#logoMain{
    margin-top: 5px;
    height: 84px;
}

ul li{
    display: inline;
    margin: 1rem;
    
    
}
ul{padding-top: 17.5px;}
a{text-decoration: none;}
a:hover{color: #23C686 !important;}
.navStyle{
    position: relative;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #23C686;
    font-weight: 300;
    font-size: 15px;
}
.navStyle:after{
    content: "";
    position: absolute;
    background-color: #23C686;
    border-radius: 4px;
    height: 2px;
    width: 0px;
    left: 0px;
    bottom: -3px;
    transition: 0.3s;
}
.navStyle:hover:after{width: 100%;}
#logBttn{
    font-family: 'Roboto', sans-serif;
    color: #23C686;
    font-size: 15px;
    border: solid 2px #23C686;
    background-color: transparent;
    width: 125px;
    height: 35px;
    border-radius: 50px;
    margin: 1rem;}

#logBttn:hover{
    cursor: pointer;
    transition: 0.3s;
    color: #1D3B41;
    background-color: #23C686;
}
#ToggleBttn{
    border: solid 2px #23C686;
    margin-right: 1.5rem;
    border-radius: 10px;
    border-spacing: 0px;
    padding: 3px;
    display: none;
}

/*    Home     */ 


.home{color: aliceblue;}

.mainPresentation{
    height: 420px;
    background-color: #255762;
    background-image: url(./source/desing/wallpaper1.png);
    background-size:cover;
    background-position: center;
   
   animation-name: animate;
   animation-direction: alternate-reverse ;
   animation-duration: 30s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-play-state: running;
   animation-timing-function: ease-in-out;
}
@keyframes animate{
50%{background-image: url(./source/desing/wallpaper2.png);}

100%{background-image: url(./source/desing/wallpaper4.png);}
}

#textMain{font-weight:900;padding-top: 110px;padding-left: 60px; font-size: 35px;}
#textSecond{padding-left: 60px; margin-top: 5px; font-weight: lighter;font-size: 20px;}
#registerBttn{
    font-family: 'Roboto', sans-serif;
    color: #23C686;
    font-size: 15px;
    border: solid 2px #23C686;
    background-color: transparent;
    width: 135px;
    height: 35px;
    border-radius: 50px;
    margin: 15px 0px 0px 60px;  
     
}
#registerBttn:hover{
    cursor: pointer;
    transition: 0.3s;
    color: #1D3B41;
    background-color: #23C686;
}


/*    Buscador    */ 


.searchContainer{
    width: 100% ;
    height: 125px;
    background-color: #0D2E33; 
    align-items: center;
    display: flex;
}
.searchBox{

    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 40px;
}
  
#mainSearcher{
    width: 80%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    
}
#searchBttn{
    background-color: #255762;
    width: 20%;
    height: 100%;
    
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    color:#23C686 ;
}



/*     Parte pelis     */ 

/*spinner*/

  

.mainboxContainer{background-color: #0F4D57;
width: 100%;
height: 70rem;
display: flex;
padding: 15px;
}
.filtersBox{margin: 15px;width: 12.5rem;height: fit-content;background-color: #1D3B41;border-radius: 15px;
border: solid 3px #255762 ; font-size: 15px;}

#filtersText{color: whitesmoke; display: flex; flex-direction: column;margin: 20px 0px 20px 0px }

.datalistContainer{margin: 5px;width: 80%;height: 40rem;}

.filterItem{margin:10px 0px 0px 0px ;font-size: 12px;cursor: pointer}

.filterItem:focus{color: #23C686;}


.objectExample{width: 100%;height: 30%;background-color: #1D3B41;border-radius: 15px;
border: solid 3px #255762;margin: 0px 0px 10px 0px;display: flex;align-items: center;padding: 17.5px;color: whitesmoke;}
.imageObject{min-width:120px; height: 100%;background-color: transparent;}


.dataContainer{width: 86.5%;height: 100%;margin: 0px 0px 0px 20px;display: flex;flex-direction: column;}
.titleObject{width: 100%;height: 20%;font-size: 18px;}
.durationObject{width: 100%;height: 20%;font-weight:400;font-size: 14px;color: #a1a0a0}
.sinopsisObject{width: 100%; height: 80%;text-align: left;padding-top: 5px;font-size: 15px;overflow: hidden; text-overflow: ellipsis;}
.analiticsObject{width: 100%;height: 15%;}






.btnsListnav{position: absolute;right: 2rem;margin-top: -4.5rem;}

#anteriorBttn , #siguienteBttn {color: #23C686 ; background-color: transparent;height: 35px;width: 70px; border: solid 1.5px #23C686;}
#anteriorBttn{border-bottom-left-radius:15px; border-top-left-radius: 15px  ;}
#siguienteBttn{border-bottom-right-radius:15px; border-top-right-radius: 15px  ;}
footer{height: 5rem;background-color:#0D2E33 ;}







/*     media Querys     */ 

@media only screen and (max-width: 768px) {

    header {justify-content:end;}

    #logoMain{position:absolute; left: 0.25rem; top: -17px;}

    .nav-ul{display:none;}

    .nav-ul.show{margin:0;z-index: 999;width:100%;display:flex;flex-direction: column;position: absolute;top: 54px; padding-left: 8px;background-color: #1D3B41;}

    #ToggleBttn{display: block;z-index: 1050;}
    ul{margin: 0.05rem;}

    .mainPresentation{height: 17rem;background-size: 768px; background-repeat: no-repeat;}

    #textMain , #textSecond{padding-left: 20px;}
    #textMain{font-size: 25px; padding-top: 4rem;}
    #textSecond{font-size: 15px;}
    #registerBttn{margin: 10px 0px 0px 20px; }


    .searchContainer{height: 7rem;}
    #mainSearcher{  height: 30px;  }
    #searchBttn{height: 30px;}



    .mainboxContainer{height: 48rem; padding: 0px; margin: 0px;}

    .filtersBox{width:8rem;}
    #filtersText{font-size: 10px; margin-left:-10px; }
    .filterItem{font-size: 9px;}





    .objectExample{width: 95%;height: 18%;background-color: #1D3B41;border-radius: 15px;
    border: solid 3px #255762;margin: 0px 20px 15px 0px;display: flex;align-items: center;padding: 10px;color: whitesmoke;}
    .imageObject{min-width: 80px;background-color: #23C686;}
    

    .titleObject{width: 100%;height: 4rem; padding-top: 5px; font-size: 11px;}
    .durationObject{width: 100%;height: 2rem;font-weight:400;font-size: 10px;color: #a1a0a0;margin-top: -40px;}
    .sinopsisObject{display: none;}
    .analiticsObject{width: 100%;height: 15%;font-size: 10px; padding-top: 1rem;}

}
@media only screen and (max-width: 400px) {
    .mainPresentation{background-position-x: center;}  
    .filtersBox{margin: 10px 10px 10px 25px;border: solid 3px #255762 ; font-size: 15px;}
    .objectExample{width: 8rem;height: 9rem;margin: 0px auto 10px auto;display: flex;align-items: center;padding: 10px;color: whitesmoke;flex-direction: column; text-align: center;}
    .imageObject{ height: 80%;background-color: #23C686;}
    .dataContainer{width: 100%;height: 10%;margin: 0px 0px 0px 5px;display: flex;flex-direction: column;}
    .titleObject{width: 100%;height: 20%;font-size: 10px;}
    .durationObject{width: 100%;height: 20%;font-weight:400;font-size: 10px;color: #a1a0a0;display: none;}
    .sinopsisObject{width: 100%; height: 80%;text-align: left;padding-top: 5px;font-size: 15px;}
    .analiticsObject{width: 100%;height: 15%;display: none;}
    .mainboxContainer{height: 55rem;}
}