@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body, html {height: 100vh;}
body{
    background: rgb(29,58,65);
    background: linear-gradient(0deg, rgba(29,58,65,1) 70%, rgba(33,75,84,1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.mainContainer{
    width: 35rem;
    height: 33rem;
    border-radius: 50px;
    background-color: #255762;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
#arrowExit{position: absolute; width: 37px;margin-left: -225px;margin-top: 30px;}
#textMain{
    color: whitesmoke;
    margin: 1.75rem auto 0 auto;
    font-weight: 500;    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
}

#label , p{
    color: #23C686; 
    padding-bottom: 4px;
    font-weight:400;
}

.emailContainer, .passContainer{margin-top: 2rem;}
.input{
    width: 24rem;
    height: 3rem;
    border-radius: 10px;
}
#mainBttn{
    align-self: center;
    margin-top: 2.5rem;
    color: #ffffff;
    font-size: 15px;
    border: none;
    background-color: #23C686;
    width: 225px;
    height: 45px;
    border-radius: 50px;}

#regText{margin-top: 2rem;}
.utilitiesContainer{margin-top: 1rem; color: whitesmoke;}

#help{margin-left: 8.5rem;}
#checkLabel{margin-left: 7px;}
a{color: #ffffff;}
a:link{color: whitesmoke;}
a:hover{color:#23C686 ;}




@media only screen and (max-width: 768px) {
.mainContainer {width: 22rem;
height: 28rem;}
#arrowExit{position: absolute; width: 37px;margin-left: -155px;margin-top: 30px;}
#textMain{
    color: whitesmoke;
    margin: 1.85rem auto 0 auto;
    font-weight: 500;  
    font-size: 25px;  
}   

.input{
    width: 19rem;
    height: 2.5rem;
    border-radius: 10px;
}
#help{margin-left: 5rem; font-size: 14px;}
#checkBox{margin-left: 0.25rem;}
#checkLabel{margin-left: 0.25rem; font-size: 14px;}
#regText{margin-top: 1rem;}

}